In [1]:
import pandas as pd

In [2]:
gameplay = pd.read_csv('User Gameplay data.csv')
withdraw = pd.read_csv('Withdrawal Data.csv')
deposit = pd.read_csv('Deposit Data.csv')

In [3]:
gameplay.set_index('Datetime', inplace=True)

In [4]:
withdraw.set_index('Datetime', inplace=True)

In [5]:
deposit.set_index('Datetime', inplace=True)

In [6]:
gameplay = gameplay.rename(columns={'User ID':'User Id'})

In [7]:
gameplay_data = gameplay.groupby('User Id').size().reset_index(name='no. of games played')

In [8]:
gameplay_data

     User Id  no. of games played
0          0                   15
1          1                    8
2          2                   97
3          3                   80
4          4                    5
..       ...                  ...
995      995                   18
996      996                  474
997      997                  109
998      998                    4
999      999                  174

[1000 rows x 2 columns]

In [9]:
withdraw= withdraw.rename(columns={'Amount':'Withdraw Amount'})

In [10]:
num_times_withdraw = withdraw.groupby('User Id').size().reset_index(name='no. of times withdrawn')

In [11]:
total_withdraw = withdraw.groupby('User Id').agg({'Withdraw Amount': 'sum'}).reset_index()

In [12]:
withdraw_data =pd.merge(num_times_withdraw, total_withdraw, on='User Id', how='outer')

In [13]:
withdraw_data

     User Id  no. of times withdrawn  Withdraw Amount
0          2                      20          1270215
1          5                       9            32700
2          7                       1             6617
3          9                       9           171456
4         11                      24           101500
..       ...                     ...              ...
509      980                      36            87900
510      985                      19           155000
511      987                      23           135650
512      989                      20          1339000
513      992                      11           616278

[514 rows x 3 columns]

In [14]:
deposit= deposit.rename(columns={'Amount': 'Deposit Amount'})

In [15]:
total_deposit_amount = deposit.groupby('User Id').agg({'Deposit Amount':'sum'}).reset_index()

In [16]:
num_times_deposit = deposit.groupby('User Id').size().reset_index(name='no. of times deposit money')

In [17]:
deposit_data = pd.merge(total_deposit_amount, num_times_deposit, on='User Id', how='outer')

In [18]:
deposit_data

     User Id  Deposit Amount  no. of times deposit money
0          1            5000                           1
1          2          567000                          20
2          3           40000                           4
3          4            1750                           1
4          5           74100                          67
..       ...             ...                         ...
910      994            1400                           1
911      995           34500                           5
912      996           96400                          31
913      998            7400                           5
914      999            9000                           3

[915 rows x 3 columns]

In [19]:
merged = pd.merge(gameplay_data, deposit_data, on='User Id', how='outer')

In [20]:
merged

     User Id  no. of games played  Deposit Amount  no. of times deposit money
0          0                   15             NaN                         NaN
1          1                    8          5000.0                         1.0
2          2                   97        567000.0                        20.0
3          3                   80         40000.0                         4.0
4          4                    5          1750.0                         1.0
..       ...                  ...             ...                         ...
995      995                   18         34500.0                         5.0
996      996                  474         96400.0                        31.0
997      997                  109             NaN                         NaN
998      998                    4          7400.0                         5.0
999      999                  174          9000.0                         3.0

[1000 rows x 4 columns]

In [28]:
gaming_data = pd.merge(merged, withdraw_data, on='User Id', how='outer').fillna(0)

In [29]:
gaming_data

,User Id,no. of games played,Deposit Amount,no. of times deposit money,no. of times withdrawn,Withdraw Amount
0,0,15,0.0,0.0,0.0,0.0
1,1,8,5000.0,1.0,0.0,0.0
2,2,97,567000.0,20.0,20.0,1270215.0
3,3,80,40000.0,4.0,0.0,0.0
4,4,5,1750.0,1.0,0.0,0.0
...,...,...,...,...,...,...
995,995,18,34500.0,5.0,0.0,0.0
996,996,474,96400.0,31.0,0.0,0.0
997,997,109,0.0,0.0,0.0,0.0
998,998,4,7400.0,5.0,0.0,0.0
999,999,174,9000.0,3.0,0.0,0.0

#

# Part A - Calculating loyalty points

# 2. Calculate overall loyalty points earned and rank players on the basis of loyalty points in the month of October.

In [30]:
gaming_data['Loyalty Points'] = (0.01 * gaming_data['Deposit Amount']) + (0.005 * gaming_data['Withdraw Amount']) + (0.001 * (max(gaming_data['no. of times deposit money']- gaming_data['no. of times withdrawn']) or 0)) + (0.2 * gaming_data['no. of games played'])

In [31]:
gaming_data

,User Id,no. of games played,Deposit Amount,no. of times deposit money,no. of times withdrawn,Withdraw Amount,Loyalty Points
0,0,15,0.0,0.0,0.0,0.0,3.215
1,1,8,5000.0,1.0,0.0,0.0,51.815
2,2,97,567000.0,20.0,20.0,1270215.0,12040.690
3,3,80,40000.0,4.0,0.0,0.0,416.215
4,4,5,1750.0,1.0,0.0,0.0,18.715
...,...,...,...,...,...,...,...
995,995,18,34500.0,5.0,0.0,0.0,348.815
996,996,474,96400.0,31.0,0.0,0.0,1059.015
997,997,109,0.0,0.0,0.0,0.0,22.015
998,998,4,7400.0,5.0,0.0,0.0,75.015
999,999,174,9000.0,3.0,0.0,0.0,125.015

In [32]:
sorted_df = gaming_data.sort_values(by='Loyalty Points', ascending=False)

In [33]:
sorted_df

,User Id,no. of games played,Deposit Amount,no. of times deposit money,no. of times withdrawn,Withdraw Amount,Loyalty Points
634,634,24,515000.0,8.0,67.0,15737705.0,83843.540
99,99,10,1164800.0,47.0,15.0,2403141.0,23665.920
672,672,10,2158700.0,35.0,5.0,233750.0,22757.965
212,212,1,1924981.0,26.0,4.0,589850.0,22199.475
740,740,2,1738490.0,91.0,7.0,365288.0,19211.955
...,...,...,...,...,...,...,...
643,643,2,0.0,0.0,0.0,0.0,0.615
858,858,2,0.0,0.0,0.0,0.0,0.615
388,388,2,0.0,0.0,0.0,0.0,0.615
507,507,2,0.0,0.0,0.0,0.0,0.615
38,38,1,0.0,0.0,0.0,0.0,0.415

#

# Part B - How much bonus should be allocated to leaderboard players?

# 1. Only top 50 ranked players are awarded bonus

In [69]:
top_50_loyal_players=sorted_df.head(50)

In [71]:
top_50_loyal_players = top_50_loyal_players.copy()

In [72]:
total_rewards = 50000
n=50
total_ranks = n*(n+1)/2

In [73]:
Rewards = []
for i in range(1,51):
    reward= total_rewards*(n-i+1)/total_ranks
    Rewards.append(reward)
top_50_loyal_players['Reward Distribution By Loyalty Points'] = Rewards

In [79]:
top_50_loyal_players.index += 1

In [80]:
top_50_loyal_players

,User Id,no. of games played,Deposit Amount,no. of times deposit money,no. of times withdrawn,Withdraw Amount,Loyalty Points,Reward Distribution By Loyalty Points
1,634,24,515000.0,8.0,67.0,15737705.0,83843.540,1960.784314
2,99,10,1164800.0,47.0,15.0,2403141.0,23665.920,1921.568627
3,672,10,2158700.0,35.0,5.0,233750.0,22757.965,1882.352941
4,212,1,1924981.0,26.0,4.0,589850.0,22199.475,1843.137255
5,740,2,1738490.0,91.0,7.0,365288.0,19211.955,1803.921569
6,566,183,1819175.0,53.0,3.0,185071.0,19153.920,1764.705882
7,714,6,1676300.0,34.0,0.0,0.0,16764.415,1725.490196
8,421,1557,878600.0,99.0,84.0,1269809.0,15446.660,1686.274510
9,369,37,650000.0,13.0,9.0,1586208.0,14438.655,1647.058824
10,30,13,1329000.0,51.0,1.0,152145.0,14053.540,1607.843137
11,587,734,671700.0,89.0,8.0,1355000.0,13639.015,1568.627451
12,222,10,1285000.0,16.0,3.0,99358.0,13349.005,1529.411765
13,352,313,1083034.0,128.0,8.0,429518.0,13040.745,1490.196078
14,365,3667,311000.0,10.0,33.0,1802335.0,12855.290,1450.980392
15,920,932,367700.0,41.0,52.0,1734480.0,12536.015,1411.764706
16,162,2,68320.0,7.0,23.0,2360000.0,12483.815,1372.549020
17,415,26,350000.0,6.0,6.0,1759843.0,12304.630,1333.333333
18,569,38,1227780.0,23.0,0.0,0.0,12285.615,1294.117647
19,786,7,661500.0,27.0,11.0,1096160.0,12097.415,1254.901961
20,2,97,567000.0,20.0,20.0,1270215.0,12040.690,1215.686275
21,238,899,923400.0,45.0,7.0,445000.0,11639.015,1176.470588
22,992,2483,804978.0,18.0,11.0,616278.0,11627.985,1137.254902
23,28,37,1061500.0,49.0,0.0,0.0,10622.615,1098.039216
24,538,29,1025000.0,27.0,1.0,8558.0,10298.805,1058.823529
25,208,507,644934.0,35.0,9.0,657928.0,9840.595,1019.607843
26,989,3471,240000.0,12.0,20.0,1339000.0,9789.415,980.392157
27,978,74,794358.0,69.0,14.0,288114.0,9399.165,941.176471
28,915,8,780028.0,84.0,7.0,307609.0,9340.140,901.960784
29,678,12,379000.0,22.0,1.0,1100000.0,9292.615,862.745098
30,78,602,159000.0,32.0,47.0,1484900.0,9135.115,823.529412
31,909,1,679745.0,125.0,5.0,454060.0,9068.165,784.313725
32,182,2446,795000.0,16.0,4.0,80339.0,8841.110,745.098039
33,93,487,616000.0,76.0,24.0,511474.0,8814.985,705.882353
34,200,4,539998.0,8.0,5.0,593000.0,8365.995,666.666667
35,259,126,824020.0,115.0,0.0,0.0,8265.615,627.450980
36,306,4,826000.0,57.0,0.0,0.0,8261.015,588.235294
37,344,3,311900.0,18.0,10.0,1024000.0,8239.815,549.019608
38,601,33,692144.0,23.0,1.0,240000.0,8128.255,509.803922
39,515,413,580000.0,14.0,6.0,400000.0,7882.815,470.588235
40,294,5,607700.0,41.0,3.0,311187.0,7634.150,431.372549
41,681,8,689000.0,65.0,1.0,132000.0,7551.815,392.156863
42,950,4,732000.0,99.0,4.0,35500.0,7498.515,352.941176
43,675,639,662500.0,50.0,1.0,70000.0,7103.015,313.725490
44,663,6401,425000.0,52.0,35.0,290200.0,6981.415,274.509804
45,438,1,400000.0,2.0,1.0,594851.0,6974.670,235.294118
46,619,2,697000.0,13.0,0.0,0.0,6970.615,196.078431
47,245,3,209450.0,25.0,10.0,912200.0,6656.315,156.862745
48,547,1248,493200.0,41.0,14.0,245863.0,6411.130,117.647059
49,612,1543,554800.0,53.0,8.0,109081.0,6402.220,78.431373
50,949,1,409100.0,64.0,7.0,434171.0,6262.270,39.215686

#